main {
  padding-top: 9%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 80vw;
}

@media screen and (min-width: 376px) {
  main {
    padding-top: 3.7%;
  }

  .wrapper {
    width: 90vw;
  }
}